<div class="row">
<div class="columns" style="width:100%">
  <div class="column is-four-fifths is-size-2"> INVOICE</div>
  <div class="date" class="column is-size-5 has-text-right" style="margin-top:2%;"></div>
 </div> 
</div>
<hr>
<br/>
              
<div class="row">
  <div class="column is-one-third">
    <strong>From</strong>
    <address>
      <div class= "modalField" class="bold"></div>
      <div class= "modalField"></div>
      <div class= "modalField"></div>
      <div class= "modalField"></div>
    </address>
  </div>

<div class="column is-one-third">
<strong>To</strong>
<address>
      <div class= "modalField"></div>
      <div class= "modalField"></div>
      <div class= "modalField"></div>
      <div class= "modalField"></div>
      </address>
      </div>


      <div class="column is-one-third">
      <form class="form-horizontal">
        <div class="form-group">
        <div><label><strong>Invoice no.</strong> <%= (Invoice.last.present? ? (Invoice.last.id + 1) : 1) %></label></div>
      </div>
                    
      <div class="form-group">
        <label>Due date: </label> <span class="modalField" class="pull-right"></span>
      </div>

    

      <div class="form-group">
        <div><label>Amount due: </label></div>
        <hr/>
        <div class="totalsModal" id="dueModal" style="text-align:right; padding-top:7px"></div>
      </div>
    </form>
  </div>
</div>

<div class="row">
	<div class="col-xs-12">
    <hr>
		<table class="table table-bordered" id="modalField">
		  <thead>
		    <th class="item-name">Item</th>
		    <th class="description">Description</th>
		    <th class="unit">Unit Cost</th>
	      <th class="quantity">Quantity</th>
	      <th class="units">Price</th>
		  </thead>
		  
		  <tbody id="modalFieldstbody">
		  </tbody>
		</table>

	</div>
</div>

<div class="row">
	<div class="col-xs-6 col-xs-offset-6">
    <div>
      <table class="table">
        <tr>
          <th style="width:50%">Subtotal:</th>
          <td><span class="totalsModal"></span><span class="subtotal_currency"></span></td>
        </tr>
        <tr>
          <th>Tax:</th>
          <td><span class="totalsModal"></span><span class="subtotal_currency"></span></td>
        </tr>
        <tr>
          <th>Total:</th>
          <td class="balance"><span class="totalsModal" id="invoiceTotalModal">0.00</span><span class="subtotal_currency"></span></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div style="text-align:center">Terms and Conditions</div>
<hr>
<div class="containerTable">
<br/>
<div style="width:100%; font-size:10px; text-align:center" id="termsModal", value=""></div>
</div>  
</div>